.link {
    text-decoration: underline;
    font-weight: 600;
    color: rgb(13, 45, 189);
    cursor: pointer;
    font-size: var(--ff-small);
}

.link:hover {
    color: rgb(5, 31, 149);
}

.text {
    font-size: var(--ff-small);
}
