.sideBar {
    background-color: #0b9e85;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.activeMenu {
    transform: translateX(0%);
}

.active {
    color: red;
    background-color: yellow;
    transition: all 0.5s;
}
