@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");
:root {
    --clr-text: #2e2e2e;
    --clr-primary: #1e6588;
    --clr-accent: rgb(198, 129, 0, 0.5);
    --clr-accent-hv: rgba(225, 128, 11, 0.7);
    --clr-white: white;
    --clr-bright: rgb(175, 0, 45);
    --clr-green: rgb(103, 149, 120);

    --ff-title: "Jost";
    --ff-turkish: "Jost";
    --ff-text: "Jost";
    --ff-small: 0.875rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    color: black;
    font-family: var(--ff-text);
    font-size: 18px;
    font-weight: 400;
}

body {
    background-color: rgba(233, 227, 227, 0.825);
    margin: 0 auto;
}

a {
    all: unset;
}

/* #root {
    display: grid;
    place-items: center;
    gap: 10px;
} */

.wrapper {
    max-width: 900px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.quiz {
    background-color: var(--clr-white);
    padding: 20px;
    width: 95%;
    max-width: 600px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    gap: 15px;
    min-height: 80vh;
    align-self: center;
    animation: fadeInRight 1s ease;
}

.container {
    background-color: var(--clr-white);
    padding: 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 15px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
textarea {
    resize: none;
    height: 60px;
    max-width: 500px;
    width: 85%;
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
}

.bold {
    font-weight: 600;
    text-align: center;
}
